<h1><%= @user.username %></h1>

<h2>Animals</h2>
<ul>
	<% @animals.each do |animal| %>
		<li><a href="/animal/<%= animal.id %>"><%= animal.name %></a> the <%= animal.species %></li>
	<% end %>
</ul>

<h2>Food Inventory</h2>

<ul>
	<li>Bamboo Shoots: <%= @user.bamboo_shoots %></li>
	<li>Fish: <%= @user.fish %></li>
	<li>Fruits: <%= @user.fruits %></li>
	<li>Grass: <%= @user.grass %></li>
	<li>Meat: <%= @user.meat %></li>
</ul>

<a href="/user/<%= @user.id %>/edit">Purchase more food</a>