<h1><%= @user.username %></h1>

<h2>Animals</h2>
<ul>
	<% @animals.each do |animal| %>
		<li><a href="/animal/<%= animal.id %>"><%= animal.name %></a></li>
	<% end %>
</ul>

<h2>Food</h2>

<h3>Bamboo Shoots: <%= @user.bamboo_shoots %></h3>
<h3>Fish: <%= @user.fish %></h3>
<h3>Fruits: <%= @user.fruits %></h3>
<h3>Grass: <%= @user.grass %></h3>
<h3>Meat: <%= @user.meat %></h3>

<a href="/users/edit">Purchase more food</a>