	<h1><%= @animal.name %></h1>
	<img height="300" src="/images/<%= @animal.species.parameterize %>.jpg" alt="animal image">
	
	<div class="jumbotron col-md-7">
		<h2>Keeper: <a href="/user/<%= @animal.user_id %>"><%= @animal.user.username %></a></h2>
		<h2>Species: <%= @animal.species %></h2>
		<h2>Gender: <%= @animal.gender %></h2>
		<h2>Eats: <%= appropriate_food %></h2>
		<p><%= @animal.description %></p>
		
		<h2>Current Status</h2>
		<h3>Appetite Level: <%= @animal.appetite %></h3>
		<h3>Happiness Level: <%= @animal.happiness %></h3>
	
		<div class="inline-btn">
			<form action="/animal-attributes/<%= @animal.id %>" method="post">
			  <input type="hidden" name="_method" value="patch">
			  <input type="submit" class="btn btn-success" value="Feed <%= @animal.name %>">
			</form>
			
			<button class="btn btn-success"><a href="/animal/<%= @animal.id %>/edit">Edit Information</a></button>
			
			<form action="/animal-status/<%= @animal.id %>" method="post">
			  <input type="hidden" name="_method" value="patch">
			  <input type="submit" class="btn btn-success" value="Reset Status">
			</form>

			<form action="/animal/<%= @animal.id %>" method="post">
			  <input type="hidden" name="_method" value="delete">
			  <input type="button" class="btn btn-success" type="submit" value="Give it away  :'(">
			</form>
		</div>

	</div>