<h1><%= @animal.name %></h1>
<img style="display: inline-block;" height="300" src="/images/<%= @animal.species %>.jpg" alt="animal image">

<h2>Species: <%= @animal.species %></h2>
<h2>Gender: <%= @animal.gender %></h2>
<p><%= @animal.description %></p>
<h2>Appetite Level: <%= @animal.appetite %></h2>
<h2>Happiness Level: <%= @animal.happiness %></h2>
<h2>Keeper: <a href="/user/<%= @animal.user_id %>"><%= @animal.user.username %></a></h2>

<a href="/animal/<%= @animal.id %>/edit"><input type="button" value="Edit Information"></a> <br><br>

<form action="/animal/<%= @animal.id %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" value="Give it away to Professor Willow, but for no candy :'(">
</form>

